<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">T-Red Hair</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse" >
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="cover">
  <div class="cover-text">
    <h1>You probably haven't heard of us.</h1>
    <p>Cliche direct trade four dollar toast, tote bag intelligentsia scenester wolf retro kinfolk +1 umami pitchfork. Actually street art literally pinterest. +1 pitchfork cray chartreuse, flannel pug mustache. Pop-up 8-bit waistcoat banh mi quinoa tousled. 8-bit organic distillery, intelligentsia leggings cornhole sriracha. Tilde XOXO typewriter, bushwick meditation fingerstache franzen tousled blog microdosing kogi butcher literally. Pop-up DIY celiac mumblecore normcore plaid.</p>
    <a href="#why-us" role="button" class="btn btn-danger btn-lg">Let's get started, I guess</a>
  </div>
</div>

<section class="testimonial">
  <div class="container">
    <blockquote>
      "Distillery normcore ennui, man braid food truck swag ethical poutine brooklyn authentic cliche. Shabby chic single-origin coffee meditation, sriracha meh disrupt pour-over selfies ramps vinyl lomo." -Schwiez
    </blockquote>
  </div>
</section>

<section id="why-us">
  <h2>Why Hipstrify?</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Artisanal</h3>
        <p>Umami master cleanse actually plaid. Williamsburg twee occupy, cold-pressed mixtape post-ironic iPhone knausgaard neutra thundercats ugh you probably haven't heard of them mlkshk. Farm-to-table swag leggings echo park, quinoa ethical twee marfa kale chips food truck neutra gastropub hella ugh. Vinyl lo-fi mustache post-ironic, pabst squid mixtape viral master cleanse franzen quinoa 90's. Waistcoat you probably haven't heard of them leggings locavore, keffiyeh skateboard fixie authentic fashion axe semiotics. 90's celiac DIY selvage. Fashion axe etsy seitan, locavore williamsburg gentrify kickstarter meggings typewriter beard flannel DIY.</p>
      </div>
      <div class="col-sm-4">
        <h3>Ready made</h3>
        <p>Umami master cleanse actually plaid. Williamsburg twee occupy, cold-pressed mixtape post-ironic iPhone knausgaard neutra thundercats ugh you probably haven't heard of them mlkshk. Farm-to-table swag leggings echo park, quinoa ethical twee marfa kale chips food truck neutra gastropub hella ugh. Vinyl lo-fi mustache post-ironic, pabst squid mixtape viral master cleanse franzen quinoa 90's. Waistcoat you probably haven't heard of them leggings locavore, keffiyeh skateboard fixie authentic fashion axe semiotics. 90's celiac DIY selvage. Fashion axe etsy seitan, locavore williamsburg gentrify kickstarter meggings typewriter beard flannel DIY.</p>
      </div>
      <div class="col-sm-4">
        <h3>Small Batches</h3>
        <p>Umami master cleanse actually plaid. Williamsburg twee occupy, cold-pressed mixtape post-ironic iPhone knausgaard neutra thundercats ugh you probably haven't heard of them mlkshk. Farm-to-table swag leggings echo park, quinoa ethical twee marfa kale chips food truck neutra gastropub hella ugh. Vinyl lo-fi mustache post-ironic, pabst squid mixtape viral master cleanse franzen quinoa 90's. Waistcoat you probably haven't heard of them leggings locavore, keffiyeh skateboard fixie authentic fashion axe semiotics. 90's celiac DIY selvage. Fashion axe etsy seitan, locavore williamsburg gentrify kickstarter meggings typewriter beard flannel DIY.</p>
      </div>
    </div>
  </div>
</section>

<section id="team">
  <div class="container">
    <h2>Services</h2>
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag("mariobank.jpg", class: "img-circle") %>
        <h4>Jane Doe</h4>
        <p>Photo booth poutine direct trade +1, VHS paleo messenger bag migas thundercats kogi chambray.</p>
      </div>
      <div class="col-sm-3">
        <%= image_tag("mariobank.jpg", class: "img-circle") %>
        <h4>John Doe</h4>
        <p>Photo booth poutine direct trade +1, VHS paleo messenger bag migas thundercats kogi chambray.</p>
      </div>
      <div class="col-sm-3">
        <%= image_tag("mariobank.jpg", class: "img-circle") %>
        <h4>Jenny Doe</h4>
        <p>Photo booth poutine direct trade +1, VHS paleo messenger bag migas thundercats kogi chambray.</p>
      </div>
      <div class="col-sm-3">
        <%= image_tag("mariobank.jpg", class: "img-circle") %>
        <h4>Jim Doe</h4>
        <p>Photo booth poutine direct trade +1, VHS paleo messenger bag migas thundercats kogi chambray.</p>
      </div>
    </div>
  </div>
</section>

<section id="signup">
  <div class="container">
    <h2>Get our handcrafted newsletter</h2>
    <p class="lead">Seriously, we'll send you real paper in the mail. We don't do email.</p>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <form>
          <input type="text" class="form-control input-lg" placeholder="Put your real address here...">
          <span class="input-group-btn">
            <button class="btn btn-warning btn-lg">Handcraft it</button>
          </span>
        </form>
      </div>
    </div>
  </div>
</section>

<footer>
  crafted with &hearts; in Sapporo by <a href="">Paulo</a>
</footer>